/* MASTER STYLES */
body {
    font-family: "Raleway", sans-serif;
    margin: 0px; /*bc the default is 8px*/
}

.container {
    display: grid;
    grid-template-columns: 1fr; /* fractional space*/
}

/* NAV STYLES */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex; /*puts words side by side*/
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em; /* 0.9em means 90% of original, 1em*/
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a; 
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link{
    border-bottom: 1px solid grey;
}

.active-nav-link{
    color: #8a8a8a !important;
}

/* PORTFOLIO STYLES */
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper{
    position: relative; /* allows flexibility for positioning */

}

.portfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover; /* image will fill the space */
    background-position: center;
    background-repeat: no-repeat; 
}

.img-text-wrapper {
    position: absolute; /* pos relative is required for any nested pos absolute */
    top: 0; /* positioned at the top of other images */
    display: flex; /* elemnts are using flexbox */
    flex-direction: column; 
    justify-content: center; /* to center them from L to R*/
    align-items: center; /* centers from Top to Bottom */
    height: 100%; /*takes up parent height*/
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.port-link-wrapper img {
    width: 40%;
    margin-bottom: -10px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    font-size: 1.5em;
    color: white; /* or transparent */
    margin-bottom: 20px;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightcoral;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* CONTACT PG STYLES */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 10px;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding-left: 35px;
    margin-bottom: -20px;
}

.profile-content-wrapper h1 {
    color: lightcoral;
    margin-bottom: -5px;
}

/* POST VIDEO STYLES */
.port-link-wrapper {
    position: relative;
    justify-content: center; /* to center them from L to R*/
    align-items: center;
}
.port-link-wrapper a {
    color: transparent;
    font-size: 8em;
}

.page-title-wrapper{
    padding-left: 35px;
    margin-top: -50px;
    margin-bottom: -40px;
}

.page-title-wrapper h1{
    font-size: 3.5em;
    color: lightsteelblue;
}

.four-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 20px;
}

.music-link-wrapper {
    height: 20px;
    border-bottom: 1px solid transparent;
    margin-top: 15px;
}

.music-link-wrapper a {
    color: black; 
    text-decoration: none;
    transition: color 0.5s;
}

.music-link-wrapper a:hover {
    color: lightcoral;
}

.creator-content-wrapper{
    padding-left: 35px;
    margin-bottom: -20px;
}

.creator-content-wrapper h1{
    color: lightcoral;
    margin-bottom: -5px;
}

.creator-image-wrapper img {
    margin-top: 30px;
    margin-left: 35px;
    max-width: 95%;
    height:auto;
}

.creator-image-wrapper p {
    margin-top: 30px;
    margin-left: 35px;
    height:auto;
}

.creator-image-wrapper a {
    margin-top: 30px;
    margin-left: 35px;
    height:auto;
}

.creator-title-wrapper{
    padding-left: 35px;
    margin-top: -50px;
    margin-bottom: -40px;
}

.creator-title-wrapper h1{
    font-size: 3.5em;
    color: lightsteelblue;
}

.one-column-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 30px;
}

.singular-link {
    padding-top: 2px;
    padding-bottom: 20px;
    margin-left: 40px;
    size: 4em;
}

.singular-link a{
    font-size: 1.5em;
}

.creatorlink-content-wrapper{
    padding-left: 35px;
    margin-bottom: -20px;
}

.creatorlink-content-wrapper h1{
    color: lightcoral;
    margin-bottom: -5px;
}

.bigger-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    margin-top: 15px;
}

.bigger-link-wrapper a {
    color: black; 
    font-size: 1.25em;
    text-decoration: none;
    transition: color 0.5s;
}

.bigger-link-wrapper a:hover {
    color: lightcoral;
}

.bigger-link-wrapper2 {
    height: 22px;
    border-bottom: 1px solid transparent;
    margin-top: 15px;
}

.bigger-link-wrapper2 a {
    color: black; 
    font-size: 1.25em;
    text-decoration: none;
    transition: color 0.5s;
    margin-left: 2px;
}

.bigger-link-wrapper2 a:hover {
    color: lightcoral;
}

.bigger-link-wrapper3 {
    height: 22px;
    border-bottom: 1px solid transparent;
    margin-top: 15px;
}

.bigger-link-wrapper3 a {
    color: black; 
    font-size: 1.25em;
    text-decoration: none;
    transition: color 0.5s;
    margin-left: 15px;
}

.bigger-link-wrapper3 a:hover {
    color: lightcoral;
}


